.container {
  user-select: none;
  display: none;
  &.is-selected {
    display: initial;
  }
}

/* -------------------------------------------------------------------------------------------------
 * reset
 * -----------------------------------------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Untitled Sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

svg {
  display: block;
  vertical-align: middle;
}

html,
body {
  height: 100%;
}
