// className="relative flex justify-center items-center w-64 mt-8 mx-auto lg:w-32 h-32 select-none m-10 overflow-hidden rounded-full">
#display-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 340px;
  height: 170px;
  margin: 12px auto 0;
  user-select: none;
  overflow: hidden;
  border-radius: 20%;
}
.display-avatar-image {
  position: absolute;
}
